apiVersion: v1
kind: ConfigMap
metadata:
  name: api-gateway-config
  namespace: autoally
data:
  application.yml: |
    server:
      port: 8081
      netty:
        connection-timeout: 20000

    spring:
      application:
        name: api-gateway

      cloud:
        gateway:
          default-filters:
            - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin

          globalcors:
            cors-configurations:
              '[/**]':
                allowedOrigins:
                  - "http://localhost:5173"
                allowedMethods:
                  - GET
                  - POST
                  - PUT
                  - PATCH
                  - DELETE
                  - OPTIONS
                allowedHeaders:
                  - "*"
                allowCredentials: true
                maxAge: 3600

          routes:
            - id: post-service
              uri: http://post-service:8082
              predicates:
                - Path=/api/posts/**
              filters:
                - StripPrefix=1
                - UserHeaders

            - id: user-service
              uri: http://user-service:8083
              predicates:
                - Path=/api/users/**
              filters:
                - StripPrefix=1
                - UserHeaders

            - id: appointment_service
              uri: http://appointment-service:8084
              predicates:
                - Path=/api/appointments/**
              filters:
                - StripPrefix=1
                - UserHeaders

          httpclient:
            pool:
              type: ELASTIC
              max-connections: 1000
              max-pending-acquires: 1000
              acquire-timeout: 45000
            connect-timeout: 10000
            response-timeout: 30s

      security:
        oauth2:
          resourceserver:
            jwt:
              issuer-uri: http://keycloak:8080/realms/AutoAlly
              jwk-set-uri: http://keycloak:8080/realms/AutoAlly/protocol/openid-connect/certs

    management:
      endpoints:
        web:
          exposure:
            include: health,info,metrics,prometheus
      endpoint:
        prometheus:
          enabled: true
        metrics:
          enabled: true
      metrics:
        tags:
          application: ${spring.application.name}
      prometheus:
        metrics:
          export:
            enabled: true

    jwt:
      auth:
        converter:
          resource-id: autoally-rest-api
          principle-attribute: preferred_username

    logging:
      level:
        org.springframework.cloud.gateway: DEBUG
        org.springframework.security: DEBUG
        org.example: DEBUG
        reactor.netty: INFO